.d-flex{
  display: flex;
}
.d-none {
  display: none;
}
.ta-center{
  text-align: center;
}
.ai-center{
  align-items: center;
}
.jc-around{
  justify-content: space-around;
}
.jc-between{
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.m-auto{
  margin: 0 auto;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.o-zero {
  opacity: 0;
}

