.d-flex{
  display: flex;
}
.d-none {
  display: none;
}
.ta-center{
  text-align: center;
}
.ai-center{
  align-items: center;
}
.jc-around{
  justify-content: space-around;
}
.jc-between{
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.m-auto{
  margin: 0 auto;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.o-zero {
  opacity: 0;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.event-text {
  padding: 4px
}

.btn {
  background-color: gray; /* Green */
  border: none;
  opacity: 1;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
.fadeOut {
  opacity:0;
  -moz-animation   : fadeout 1s linear;
  -webkit-animation: fadeout 1s linear;
  animation        : fadeout 1s linear;
}
