@import "config/colors";


.event-text {
  display: flex;
  width: 80vw;
  margin: auto;
  p {
    line-height: 20px;
    text-align: right;
    width: 50vw;
    vertical-align: center;
  }
  h1 {
    margin: 0px 0px 0px 4vw;
    font-size: 18rem;
    width: 50vw;

  }
  h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 4vw;
    width: 50vw;
  }
}

.masonry-grid-pictures {
  margin: 0 auto;
  min-width: 50%;
  max-width: 80%;
  margin-bottom: 5vh;
}

.masonry-grid-pictures:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer-pictures,
.masonry-item-pictures {
  width: 33.333333%;
  cursor: pointer;
  overflow: hidden;
  float: left;
  position: relative;
  padding: 10px 10px 0px 0px;
  img {
    width: calc(100%);
    // margin-left: calc(-20px);
    // margin-right: calc(-20px);
    // margin-bottom: 10px;
    -webkit-transition: .2s all;
  }

  .text-picture {
    font-family: Big Shoulders Display;
    letter-spacing: .15rem;
    position: absolute;
    line-height: 2em;
    color: black;
    bottom: 0px;
    max-width: 80%;
    background-color: white;
    padding: 10px 30px 10px 20px;
    font-size: 2.5rem;

  }
  &:hover {
    img{
    -webkit-filter: brightness(50%);
    }
    .text-picture {
    color: $my-red;
    opacity: 1;
    }
  }
}

.masonry-item-pictures-3 {
  width: 66.666666%;
}



