@import "config/colors";
@import 'picture-smartphone';


.event-text {
  display: flex;
  width: 100%;
  margin: auto;
  p {
    overflow: scroll;
    height: 140px;
    line-height: 20px;
    text-align: right;
    width: 50vw;
    margin-left: 40px;
    vertical-align: center;
  }
  h1 {
    margin: 0px 0px 0px 4vw;
    font-size: 18rem;
    width: 50vw;

  }
  h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 4vw;
    width: 50vw;
  }
}

.masonry-grid-pictures {
  margin: 0 auto;
  margin-bottom: 5vh;
}

.masonry-grid-pictures:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer-pictures,
.masonry-item-pictures {
  width: 32%;
}
.masonry-item-pictures {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  img {
    width: calc(100%);
    // margin-left: calc(-20px);
    // margin-right: calc(-20px);
    // margin-bottom: 10px;
    -webkit-transition: .2s all;
  }

  .text-picture {
    font-family: Big Shoulders Display;
    letter-spacing: .15rem;
    position: absolute;
    line-height: 0.6em;
    color: white;
    bottom: 2px;
    background-color: #332d2d5e;
    padding: 10px;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }
  &:hover {
    img{
    -webkit-filter: brightness(50%);
    }
    .text-picture {
    color: white;
    background-color: $my-red;
    opacity: 1;
    }
  }
}

.masonry-item-pictures-3 {
  width: 65%;
}


//ZOOM
.cross-close {
  position: absolute;
  z-index: 100;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.cross-close:hover {
  opacity: 1;
}
.cross-close:before, .cross-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.cross-close:before {
  transform: rotate(45deg);
}
.cross-close:after {
  transform: rotate(-45deg);
}


