// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* { box-sizing: border-box; }

.events-pics-name {

}

#masonry-container {
}


.masonry-grid {
  max-width: 90%;
  min-width: 80%;
  margin: 0 auto;
}

.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
}

.masonry-grid-item {
  width: 20%;
  opacity: 1;
  float: left;
  margin-bottom: 4px;
  p {
    display: block;
    margin: 0;
  }
  img {
    width: 100%;
  }
  &:hover{
    opacity: 1;
    p {
      display: block;
    }
  }
}


.masonry-grid-item--width2 { width: 30%; }
.masonry-grid-item--width3 { width: 520px; }
.masonry-grid-item--width4 { width: 780px; }

.masonry-grid-item--height2 { height: 200px; }
.masonry-grid-item--height3 { height: 260px; }
.masonry-grid-item--height4 { height: 360px; }


.fullscreen-pics {
  max-width: 70vw;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
}


