  <div class="footer">
    <div class="fa_icon">
      <a href=""> <%= fa_icon "facebook" %> </a>
      <a href=""> <%= fa_icon "instagram" %> </a>
    </div>
    <div class="copyright">© 2020 Gervais, Inc. All rights reserved</div>
  </div>
