  <div class="footer">
    <div class="fa_icon" style="margin-left: 2vh">
      <a href=""> <%= fa_icon "facebook" %> </a>
      <a href=""> <%= fa_icon "instagram" %> </a>
    </div>
    <div class="copyright" style="margin-right: 2vh">© 2020 Gervais, Inc. All rights reserved</div>
  </div>
