<div class="mosaic_pics">
  <% @events.each do |event| %>
  <div class="event_card">
    <%= link_to event_path(event) do %>
      <%= cl_image_tag(event.pictures.first.image.key, alt: event.title, width: 300, height: 300, crop: :thumb, dpr: 4.0) %>
    <div class="event_title">
      <h5> <%= event.title %> </h5>
      <p><%= event.description %></p>
    </div>
    <% end %>
  </div>
  <% end %>
</div>





