@import "config/colors";


.title-albums{
  margin-left: 10%;
}


.masonry-grid-events {
  margin: 0 auto;
  // width: 100%;
  // flex-wrap: wrap;
  // justify-content: center;
  // width: 80%;
  min-width: 50%;
  max-width: 80%;
  margin-bottom: 5vh;
}

.masonry-grid-events:after {
  content: '';
  display: block;
  clear: both;
}



.grid-sizer-events,
.masonry-item-events {
  width: 33.333333%;
  min-height: 10%;
  overflow: hidden;
  float: left;
  position: relative;
  img {

    object-fit: fill;
    width: calc(100% + 10px);
    margin-left: calc(-60px);
    margin-right: calc(-60px);
    margin-bottom: 30px;
    // height: 100%;
    -webkit-transition: .2s all;
  }
  .text {
    h2 {
      font-size: 8em;
      margin-top: 2px;
      margin-bottom: 2px;
    }
    h3 {
      font-size: 3em;
      margin-top: 2px;
      margin-bottom: 2px;
      font-weight: 400;
      letter-spacing: .15rem;
      color: $my-red;
    }
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 2vh;
    p {
      font-size: 3.5rem;
      letter-spacing: .15rem;
      font-family: Big Shoulders Display;
    }

  }
  &:hover {
    img{

    -webkit-filter: brightness(50%);
    }
    .text{
    opacity: 1;
    }
  }

.pin {
  h1{
    color: white;
    // opacity: 0.5;
    margin: 0;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.5em;
  }
  max-width: 90%;
  position: absolute;
  left: 50%;
  bottom: 0.8em;
  transform: translate(-50%,0%);
  background-color: $my-red;
  text-transform: uppercase;
  padding: .2em 2em;
  // border: 1px solid;
  }
}

.masonry-item-events-3 {
  width: 66.666666%;
}

