.masonry-grid-events {
  margin: 0 auto;
  // min-width: 60%;
  // max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.masonry-item-events {
  margin: 0 auto;

}

.grid-sizer-events,
.masonry-item-events {
  width: 31%;
  padding: 5px;
  object-fit: cover;
  &:hover {
    opacity: 0.8;
  }
}

// .masonry-item-events-3 {
//   width: 50%;
// }
