// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mosaic_pics {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-wrap: wrap;
}

.event_card {
  position: relative;
  text-align: center;
  font-size: 8vh;
  margin: 1vh;

}

.event_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;


  &:hover {
    color: red;
    opacity: 1;
  }
}


.diapo_events {
  display: flex;
}

.events_pictures {
  max-height: 80vh;
}
