.masonry-grid-events {
  margin: 0 auto;
  // min-width: 60%;
  // max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.masonry-item-events {
  margin: 0 auto;

}

.grid-sizer-events,
.masonry-item-events {
  // width: 32.5%;
  padding: 1px;
}
