
html {
  font-size: calc(100vw / 1920 * 10);
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

.main-content {
  margin-top: 25vmin;
  flex-grow: 1;
  width: 100%;
}

.main-content-padding {
  margin-top: 0vh;
}

.slide-content {
  position: relative;
  min-height: 100vmin;
  // max-width: 100vw;
  // align-items: center;
  // align-content: center;
}

.arrow-down-home {
  position: fixed;
  font-size: 12rem !important;
  z-index: 300;
  bottom: 5%;
  right: 50%;
  color: white;
  font-weight: 300;
}

//ABOUT

// .about-home {
//   margin: 25% auto;
//   width: 50%;
// }

// LOGO
.d-logo {
  display: flex;
  flex-wrap: wrap;
  .logo {
    margin: 0.5vh;
  }
  .logo:hover {


  }
}

//NEWSLETTER
.text-newsletter {
  margin: 2vh auto ;
  border: 0.5px solid;
  cursor: pointer;
  width: 60%;
}
