@import "config/colors";


.showroom-container {
  min-height: 80vh;
  margin-bottom: 10vh;
}



.masonry-grid-showroom {
  margin: 0 auto;
  // width: 100%;
  // flex-wrap: wrap;
  // justify-content: center;
  // width: 80%;
  max-width: 80%;
  margin-bottom: 5vh;
}

.masonry-grid-showroom:after {
  content: '';
  display: block;
  clear: both;
}



.grid-sizer-showroom,
.masonry-item-showroom {
  width: 32%;
}

.masonry-item-showroom {
  overflow: hidden;
  float: left;
  position: relative;
  margin-bottom: 10px;
  img {
    object-fit: cover;
    width: 100%;
    -webkit-transition: .2s all;
  }
  .text-picture {
    font-family: Big Shoulders Display;
    letter-spacing: .15rem;
    line-height: 1.6em;
    position: absolute;
    bottom: 2px;
    background-color: white;
    padding: 5px;
    font-size: 2.5rem;
    color: white;
    background-color: #332d2d5e;
    width: 100%;
    text-align: center;
  }
  &:hover {
    .text{
    opacity: 0.8;
    }
  }
}

.masonry-item-showroom {

  .text-picture p {
    font-family: Big Shoulders Display;
    letter-spacing: .15rem;
    position: absolute;
    line-height: 2em;
    color: black;
    bottom: 10px;
    max-width: 80%;
    background-color: white;
    padding: 10px 30px 10px 20px;
    font-size: 2.2rem;
  }
}

