
<h1 class="events-pics-name"> <%= @event.title %> </h1>
<div id="masonry-container" class="masonry-grid">
  <% @event.pictures.each_with_index do |picture, idx| %>
    <div class="masonry-grid-item <%= 'masonry-grid-item--width2' if (idx % 3 == 0) %>">
<!--         <a class="prev" >&#10094;</a>
        <a class="next" >&#10095;</a> -->
        <% idxpicture = picture.event.title + "-"  + idx.to_s   %>
        <%= cl_image_tag(picture.image.key, quality: 100 ,alt: picture.description, data: {id: idx}, id: idxpicture) %>
        <div class="d-none"><%= picture.description %> </div>

    </div>
  <% end %>
</div>


