<div class="slideshow-container">
  <% @event.pictures.each_with_index do |picture, idx| %>
    <div class="mySlides fade jc-around">
      <div class="numbertext"><%= idx + 1 %> / <%= @event.pictures.length %></div>
      <% if picture.image.attached? %>
        <%= cl_image_tag(picture.image.key, width: 300, crop: :limit, gravity: :center, quality: 100, dpr: 3,alt: picture.description, class: "events_pictures") %>
      <% end %>
      <div class="text"><%= picture.description %></div>
    </div>
    <% end %>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<!--
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }

    slides[slideIndex-1].style.display = "flex";

  }
</script>
 -->
