.footer {
  position: fixed;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items:  center;
  height: 4vh;
  width: 100%;
  bottom: 0;
}

.fa_icon {
  font-size: 3vh;
  a {
    margin-right: 1vh;
  }
}

.copyright {
  font-size: 2vh;
}
