// * {box-sizing: border-box}
//   .mySlides {
//     display: none
//   }
//   img {vertical-align: middle;}
//   .slideshow-container {
//   max-width: 80%;
//   position: relative;
//   margin: auto;
//   }
/* Boutons next & previous */
.prev, .next {
display: block;
cursor: pointer;
width: auto;
padding: 16px;
margin-top: -22px;
color: black;
font-weight: bold;
font-size: 12rem;
transition: 0.6s ease;
user-select: none;
border-radius: 15%;
position: fixed;
top: 50%;
z-index: 50;
}

/* Position de "next button" à la droite */
.prev {
  left: 10%;
}
.next {
  right: 10%;
}
/* En survol, ajoutez la couleur noire de l'arrière-plan avec un peu see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
color: white;
}


.fullscreen-pics {
  max-width: 70vw;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
}
