@import 'config/colors';


.cross-close {
  position: absolute;
  z-index: 100;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.cross-close:hover {
  opacity: 1;
}
.cross-close:before, .cross-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.cross-close:before {
  transform: rotate(45deg);
}
.cross-close:after {
  transform: rotate(-45deg);
}

.prev, .next {
display: block;
cursor: pointer;
width: auto;
color: #919191;
transition: 0.6s ease;
user-select: none;
border-radius: 10%;
position: fixed;
top: 50%;
z-index: 50;
}

.fa-chevron-right, .fa-chevron-left {
  font-size: 2vh !important;
}
/* Position de "next button" à la droite */
.prev {
  left: 10%;
  padding: 16px 18px 16px 16px ;
}
.next {
  right: 10%;
  padding: 16px 16px 16px 18px ;
}
/* En survol, ajoutez la couleur noire de l'arrière-plan avec un peu see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
color: $my-red;
}


.fullscreen-pics {
  max-width: 70vw;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
}
