<div class="presentation">

GIC répond à toutes demandes en termes de relation publique, de quelques talents lors de vos présentations presse et diners ou encore un public plus large correspondant à vos évènements.

GIC création de contenue photos et videos haut de gamme pour vos réseaux sociaux et presse.

GIC met à disposition son savoir faire en matière de consulting et DA dans les milieux de l'hôtellerie & mode.

Creation du storie telling de vos evenemts

GIC accompagne en stratégie lors de la conception et du déroulement d’une evénement.

</div>
