/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */



// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/variables";
@import "config/utility";




@import "pages/index";

// External librairy


@import "font-awesome";






body {
  margin: 0 0;
  padding: 0 0;
}

h1, h2, p, div {
  font-family: $body-font;
}

h1 {
  font-size: 6vmin;
}


label {
  font-size: 6vmin;
}

a {
  font-family: $body-font;
  text-decoration: none;
  color: rgb(0,0,0);
}
p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
  font-size: 2.5vmin;
}
