// Place all the styles related to the talents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.talent_card {
  display: flex;
  height: 20vh;
  width: 20vh;
  overflow: hidden;
  .talent_pic {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }
  .talent_name {
    position: relative;
    z-index: 1;
  }
}
